---
import Project from '@/components/Project.astro';
import NextcloudIcon from '@/icons/nextcloud.astro';
---

<Project name="Drive System">
  <div class="mt-4 mb-2">
    <NextcloudIcon />
  </div>

  <h6>
    Nextcloud -
    <a
      class="text-primary"
      target="_blank"
      href="https://github.com/nextcloud"
    >
      https://github.com/nextcloud
    </a>
  </h6>

  <article class="mt-4 text-sm">
    <p>
      Nextcloud is a suite of client-server software for creating and using file hosting services.
    </p>

    <p>
      Nextcloud provides functionality similar to Dropbox, Office 365 or Google Drive
      when used with integrated office suites Collabora Online or OnlyOffice.
    </p>
  </article>
</Project>
