---
import Project from '@/components/Project.astro';
import PassboltIcon from '@/icons/passbolt.astro';
---

<Project name="Password Manager">
  <div class="mt-4 mb-2">
    <PassboltIcon />
  </div>

  <h6>
    Passbolt -
    <a
      class="text-primary"
      target="_blank"
      href="https://github.com/passbolt"
    >
      https://github.com/passbolt
    </a>
  </h6>

  <article class="mt-4 text-sm">
    <p>
      Passbolt is an open source password manager for teams.
    </p>

    <p>
      It provides a single platform to manage credentials, with a focus on security, collaboration and privacy.
    </p>

    <p>
      Benefit from powerful auditing tools and unparalleled granularity for access control and encrypted data.
    </p>
  </article>
</Project>
