---
import Project from '@/components/Project.astro';

import NxIcon from "@/icons/nx.astro";
import AngularIcon from "@/icons/angular.astro";
import TailwindIcon from "@/icons/tailwind.astro";
import SignalrIcon from '@/icons/signalr.astro';
import MaterialIcon from '@/icons/material.astro';
---

<Project
  name="BLogic View"
  link="blogicview.com"
  href="https://blogicview.com/"
  type="BLogic Systems"
  year="2022 - Present"
>
  <article class="mt-2 text-sm">
    <p>
      A report platform that helps businesses to track their performance,
      and make data-driven decisions. It provides a comprehensive range of features,
      including data visualization, report generation, and data analysis.
    </p>

    <ul class="flex flex-wrap gap-2 mt-2">
      <li class="badge badge-primary print:!bg-transparent">
        <NxIcon />
        <span>Nx</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <AngularIcon />
        <span>Angular 15</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <TailwindIcon />
        <span>TailwindCSS</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <MaterialIcon />
        <span>Material</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <SignalrIcon />
        <span>SignalR</span>
      </li>
    </ul>
  </article>
</Project>
