---
import Project from '@/components/Project.astro';

import AngularIcon from "@/icons/angular.astro";
import TailwindIcon from "@/icons/tailwind.astro";
---

<Project
  name="BLogic Kiosk Ordering"
  type="Work"
  year="2024 - Present"
  link='Kiosk'
  href='https://order.blogicsystems.com/kiosk-wiki/posts/getting-started-with-blogickiosk/'
>
  <article class="mt-2 text-sm">
    <p>
      All-in-one self-ordering kiosk that allows your customers to place their own orders by choosing menu items from the touchscreen display
    </p>

    <ul class="flex flex-wrap gap-2 mt-2">
      <li class="badge badge-primary print:!bg-transparent">
        <AngularIcon />
        <span>Angular 13</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <TailwindIcon />
        <span>TailwindCSS</span>
      </li>
    </ul>
  </article>
</Project>
