---
import Project from '@/components/Project.astro';

import AngularIcon from "@/icons/angular.astro";
import TailwindIcon from "@/icons/tailwind.astro";
import DaisyuiIcon from '@/icons/daisyui.astro';
import CapacitorIcon from '@/icons/capacitor.astro';
import SignalrIcon from '@/icons/signalr.astro';
---

<Project
  name="BLogic Wait & Order"
  link="View on App Store"
  href="https://apps.apple.com/us/app/blogic-wait-and-order/id6612012577"
  type="BLogic Systems"
  year="2024"
>
  <article class="mt-2 text-sm">
    <p>
      The ultimate tool for restaurant staff, designed to simplify table management and enhance service efficiency.
      With real-time updates and intuitive features, this app optimizes the management of restaurant seating arrangements,
      ensuring an efficient and smooth dining experience for both staff and guests.
    </p>

    <ul class="flex flex-wrap gap-2 mt-2">
      <li class="badge badge-primary print:!bg-transparent">
        <AngularIcon />
        <span>Angular 18</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <TailwindIcon />
        <span>TailwindCSS</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <DaisyuiIcon />
        <span>DaisyUI</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <SignalrIcon />
        <span>SignalR</span>
      </li>

      <li class="badge badge-primary print:!bg-transparent">
        <CapacitorIcon />
        <span>CapacitorJS</span>
      </li>
    </ul>
  </article>
</Project>
