---
import Project from '@/components/Project.astro';

import AngularIcon from "@/icons/angular.astro";
import TailwindIcon from "@/icons/tailwind.astro";
---

<Project
  name="PatchHub"
  link=""
  href=""
  type="Personal"
  year="2024"
>
  <article class="mt-2 text-sm">
    <p>
      PatchHub is a platform for BLogicsystems's developers to share
      their patches to the testers faster and easier.
    </p>
  </article>

  <ul class="flex flex-wrap gap-2 mt-2">
    <li class="badge badge-primary print:!bg-transparent">
      <AngularIcon />
      <span>Angular 18</span>
    </li>

    <li class="badge badge-primary print:!bg-transparent">
      <TailwindIcon />
      <span>TailwindCSS</span>
    </li>
  </ul>
</Project>
