---
import Project from '@/components/Project.astro';

import AngularIcon from "@/icons/angular.astro";
import TailwindIcon from "@/icons/tailwind.astro";
import NextIcon from '@/icons/next.astro';
import HeroUiIcon from '@/icons/hero-ui.astro';
import DotnetIcon from '@/icons/dotnet.astro';
import SqlIcon from '@/icons/sql.astro';
import NgZorroIcon from '@/icons/ng-zorro.astro';
---

<Project
  name="DSS Sale Platform"
  link="dss.com"
  href="https://dss.com/"
  type="Freelance"
  year="2025"
>
  <article class="mt-2 text-sm">
    <p>
      An e-commerce website that sells camera for DSS.
    </p>

    <p>
      Sub-projects:
    </p>

    <ul class="flex flex-col gap-4 list-disc pl-4">
      <li>
        <h6 class="mb-1">
          <a
            target="_blank"
            href="https://admin.dss.com/"
            class="text-primary"
          >
            DSS Admin
          </a>
        </h6>

        <p>
          A dashboard for managing products, orders, promotions, customers...
        </p>

        <ul class="flex flex-wrap gap-2 mt-2">
          <li class="badge badge-primary print:!bg-transparent">
            <AngularIcon />
            <span>Angular 20</span>
          </li>

          <li class="badge badge-primary print:!bg-transparent">
            <TailwindIcon />
            <span>TailwindCSS</span>
          </li>

          <li class="badge badge-primary print:!bg-transparent">
            <NgZorroIcon />
            <span>Ng Zorro</span>
          </li>
        </ul>
      </li>

      <li>
        <h6 class="mb-1">
          <a
            target="_blank"
            href="https://dss.com/"
            class="text-primary"
          >
            DSS Client
          </a>
        </h6>

        <p>
          A website for customers to view and purchase cameras.
        </p>

        <ul class="flex flex-wrap gap-2 mt-2">
          <li class="badge badge-primary print:!bg-transparent">
            <NextIcon />
            <span>Next 15</span>
          </li>

          <li class="badge badge-primary print:!bg-transparent">
            <TailwindIcon />
            <span>TailwindCSS</span>
          </li>

          <li class="badge badge-primary print:!bg-transparent">
            <HeroUiIcon />
            <span>Hero UI</span>
          </li>
        </ul>
      </li>

      <li>
        <h6 class="mb-1">
          <a class="text-primary">
            DSS API <small class="text-neutral">(not my work)</small>
          </a>
        </h6>

        <p>
          A RESTful API that provides data for the website and the dashboard.
        </p>

        <ul class="flex flex-wrap gap-2 mt-4">
          <li class="badge badge-primary print:!bg-transparent">
            <DotnetIcon />
            <span>Net Core</span>
          </li>

          <li class="badge badge-primary print:!bg-transparent">
            <SqlIcon />
            <span>SQL Server</span>
          </li>
        </ul>
      </li>
    </ul>
  </article>
</Project>
