---
import Project from '@/components/Project.astro';

import AngularIcon from "@/icons/angular.astro";
import NodeJsIcon from "@/icons/node.astro";
import CapacitorIcon from '@/icons/capacitor.astro';
import SupabaseIcon from "@/icons/supabase.astro";
import FirebaseIcon from "@/icons/firebase.astro";
---

<Project
  name="Love Alarm"
  link="lovealarm.vercel.app"
  href="https://lovealarm.vercel.app/"
  type="Personal"
  year="2022"
>
  <article class="mt-2 text-sm">
    <p>
      Love Alarm is the mobile app based on the Original webtoon & K-drama "Love Alarm".

      <a
        target="_blank"
        href="https://www.netflix.com/vn-en/title/80168068?source=35"
        class="text-primary"
      >
        Watch on Netflix
      </a>
    </p>

    <p>
      Your alarm “rings” every time someone within a 10-meter radius “likes” you.
      Likewise, you could tell your crush by ringing her/his alarm.
    </p>

    <p>
      The app was built using Angular, Ionic, and CapacitorJS.
      The Bluetooth native plugin was built using Java, Android SDK.
    </p>

    <p>
      The backend API was developed using Node.js and Supabase.
      Push notifications with Firebase.
    </p>

    <p>
      Sub-projects:
    </p>

    <ul class="flex flex-col gap-2 list-disc pl-4">
      <li>
        <h6>
          <a
            class="text-primary"
            target="_blank"
            href="https://github.com/tiendat77/love-alarm-landing-page"
          >
            Love Alarm Landing Page
          </a>
        </h6>
      </li>

      <li>
        <h6>
          <a
            class="text-primary"
            target="_blank"
            href="https://github.com/tiendat77/love-alarm"
          >
            Love Alarm App
          </a>
        </h6>
      </li>

      <li>
        <h6>
          <a
            class="text-primary"
            target="_blank"
            href="https://github.com/tiendat77/love-alarm-serverless"
          >
            Love Alarm Serverless API
          </a>
        </h6>
      </li>

      <li>
        <h6>
          <a
            class="text-primary"
            target="_blank"
            href="https://github.com/tiendat77/love-alarm-ble"
          >
            Capacitor Bluetooth Low Energy (BLE) Plugin
          </a>
        </h6>
      </li>
    </ul>
  </article>

  <ul class="flex flex-wrap gap-2 mt-4">
    <li class="badge badge-primary print:!bg-transparent">
      <AngularIcon />
      <span>Angular 12</span>
    </li>

    <li class="badge badge-primary print:!bg-transparent">
      <CapacitorIcon />
      <span>Capacitor</span>
    </li>

    <li class="badge badge-primary print:!bg-transparent">
      <NodeJsIcon />
      <span>NodeJs</span>
    </li>

    <li class="badge badge-primary print:!bg-transparent">
      <SupabaseIcon />
      <span>Supabase</span>
    </li>

    <li class="badge badge-primary print:!bg-transparent">
      <FirebaseIcon />
      <span>Firebase</span>
    </li>
  </ul>
</Project>
