* {
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, Noto Sans, Noto, Liberation Sans, Roboto, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
  font-size: 16px;

  margin: 0;
  width: 100%;
  min-height: 100vh;

  display: grid;
  justify-content: center;

  color: #111827;
  background: #f9fafb;
}

@media only screen and (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
  body {
    color: #adbac7;
    background: #1d2128;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #adbac7 !important;
  }
}
