@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: 16px;
    color: rgb(var(--text-color-base));
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  svg {
    display: inline-block;
  }

  ::selection {
    @apply bg-indigo-400 bg-opacity-50 text-white;
  }

  article.minimalist {
    @apply prose prose-slate m-0
      max-w-fit bg-white px-12 py-8 pt-20 rounded-md prose-h1:text-3xl prose-h2:mb-3 prose-h2:mt-8
      prose-h2:text-cyan-600 prose-h2:dark:text-cyan-500 prose-h3:mb-3
      prose-h3:mt-8 prose-h3:text-xl prose-h4:mb-3 prose-h4:mt-4
      prose-h4:text-slate-600 prose-p:my-2
      prose-p:leading-6 prose-a:text-current prose-a:no-underline prose-a:transition-colors hover:prose-a:text-slate-400 prose-a:font-normal
      prose-table:mt-4 prose-thead:border-0 prose-th:p-0
      prose-th:font-medium prose-td:p-0 prose-td:text-slate-500
      dark:bg-slate-800
      dark:prose-invert
      prose-h4:dark:text-slate-400
      sm:px-24 sm:py-14
      sm:shadow-md lg:max-w-4xl;
  }

  @page {
    size: A4 portrait;
  }

  @media print {
    page[size="A4"] {
      width: 210mm;
      height: 297mm;
      padding: 10mm;
    }

    html, body {
      font-size: 12px;
      size: A4 portrait;
    }

    h1, h2, h3, h4, h5 {
      page-break-after: avoid;
    }

    table, figure {
      page-break-inside: avoid;
    }
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* ----------------------------------------------------------------------------------------------------- */
  /*  @ DaisyUI
  /* ----------------------------------------------------------------------------------------------------- */
  .btn {
    @apply text-base;
  }

  .btn-circle {
    @apply hover:bg-transparent;
  }

  .select {
    @apply text-base;
  }

  .menu {
    @apply text-base;
  }

  .table {
    @apply text-base
  }

  .table :where(thead, tfoot) {
    @apply text-base;
  }

  .table :where(th:first-child, td:first-child) {
    @apply rounded-tl rounded-bl;
  }

  .table :where(th:last-child, td:last-child) {
    @apply rounded-tr rounded-br;
  }
}
