@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    font-size: 16px;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  svg {
    display: inline-block;
  }

  ::selection {
    @apply bg-indigo-400 bg-opacity-50 text-white;
  }

  @page {
    size: A4 portrait;
  }

  @media print {
    page[size="A4"] {
      width: 210mm;
      height: 297mm;
    }

    html, body {
      font-size: 12px;
      size: A4 portrait;
    }

    h1, h2, h3, h4, h5 {
      page-break-after: avoid;
    }

    table, figure {
      page-break-inside: avoid;
    }
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* ----------------------------------------------------------------------------------------------------- */
  /*  @ DaisyUI
  /* ----------------------------------------------------------------------------------------------------- */
  .btn {
    @apply text-base;
  }

  .btn-circle {
    @apply hover:bg-transparent;
  }

  .select {
    @apply text-base;
  }

  .menu {
    @apply text-base;
  }

  .table {
    @apply text-base
  }

  .table :where(thead, tfoot) {
    @apply text-base;
  }

  .table :where(th:first-child, td:first-child) {
    @apply rounded-tl rounded-bl;
  }

  .table :where(th:last-child, td:last-child) {
    @apply rounded-tr rounded-br;
  }

  .badge {
    @apply gap-1 rounded-md px-2 py-0.5 text-xs;
  }

  .badge-primary {
    @apply text-primary bg-primary-100 border-primary;
  }
}
