---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import Resume from "@contents/Resume.mdx";
---

<Layout>
  <Header />
  <Main>
    <Resume />
  </Main>
</Layout>
