---
import Header from '../components/Header.astro';
import ResumePage1 from '../components/ResumePage1.astro';
import ResumePage2 from '../components/ResumePage2.astro';
let title = 'Tien Dat Huynh';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <style global>
    @import "../styles/global.css";
    @import "../styles/page.css";
    @import "../styles/resume.css";
  </style>
</head>
<body>
  <main>
    <page size="A4">
      <Header />
      <ResumePage1 />
    </page>

    <page size="A4">
      <ResumePage2 />
    </page>
  </main>
</body>
</html>
