---
import Resume from '../components/Resume.astro';
let title = 'Tien Dat Huynh Resume';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <style global>
    @import "../styles/global.css";
    @import "../styles/page.css";
    @import "../styles/resume.css";
  </style>
</head>
<body>
  <main>
    <page size="A4">
      <Resume />
    </page>
  </main>
</body>
</html>
