---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="grid gap-12 p-8 xl:bg-base-100 xl:rounded-lg xl:shadow-sm max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:!grid-cols-1 print:!gap-6 print:!p-0 print:!rounded-none print:!bg-transparent print:!shadow-none">

    <div class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0">
      <h1>Welcome to Astro</h1>
    </div>

    <div class="space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0">
      <p>
        Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience.
      </p>
    </div>
  </main>
</Layout>
