<div class="w-28 h-28 sm:w-36 sm:h-36 relative">
  <div class="absolute z-0 -top-8 -left-14 w-full h-full rounded-full bg-opacity-20 bg-slate-300 dark:bg-slate-700"></div>
  <img class="w-full h-full rounded-full object-fill relative z-10" src="/avatar.jpg" alt="">
</div>