---
import { Markdown } from 'astro/components';
---

<Markdown>

<div class="header">
  <div class="info">
    <h1 class="name">TIEN DAT HUYNH</h1>
    <h4 class="position">FRONT-END DEVELOPER</h4>
  </div>

  <div class="contact">
    <a>July 1997</a>
    <a href="tel:+84344747434">0344 747 434</a>
    <a href="https://github.com/tiendat77">github.com/tiendat77</a>
    <a href="mailto:huynhztienzdat@gmail.com">huynhztienzdat@gmail.com</a>
  </div>
</div>

Seeking the Web Developer position where 2+ years experience with Angular will be utilized. Willing to learn new JavaScript frameworks and work with other developers

<br>

### WORK EXPERIENCE

---

**Leanwell Technology  - [chuyendoisosanxuat.com](https://chuyendoisosanxuat.com)**

<div class="sub-header">September 2019 - Present</div>


Front-end Developer | Angular

- Involved in designing and developing web application using Angular, Material UI

- Developed hybrid mobile apps using Angular and Ionic

- Optimizing web app performance

- Implementing RESTful API

- Time management with ClickUp

<br>

### EDUCATION

---

**University of Information Technology - VNUHCM**

<div class="sub-header">September 2015 - December 2020</div>


Bachelor of Computer Engineering | GPA: 7.8

<br>

### SKILLS

---

HTML; SCSS; JavaScript; MaterialUI; TypeScript; Node.js; REST APIs; Angular; Ionic; RxJs

TOEIC 670

<br><br>
</Markdown>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  li:not(:last-child) {
    margin-bottom: 0.25em;
  }

  hr {
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    border-style: solid;
    border-color: #63b0e4;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  .sub-header {
    margin-bottom: 1em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .header .info, .header .contact {
    margin-bottom: 1em;
  }

  .header .name {
    margin-top: 0;
    margin-bottom: 0.25em;
    display: inline-block;
  }

  .header .position {
    margin: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
  }

  .header .contact a {
    display: block;
    text-align: right;
    margin-bottom: 0.25rem;
  }

  @media only screen and (max-width: 600px) {
    .header {
      display: block;
    }

    .header .contact a {
      text-align: left;
    }
  }
</style>