---
import { Markdown } from 'astro/components';
---

<Markdown>

Seeking the Web Developer position where 2+ years experience with Angular will be utilized. Willing to learn new JavaScript frameworks and work with other developers

<br>

### WORK EXPERIENCE

---

**Leanwell Technology  - [chuyendoisosanxuat.com](https://chuyendoisosanxuat.com)**

<div class="sub-header">September 2019 - Present</div>


Front-end Developer

- Involved in designing and developing web application using Angular, Material UI

- Developed hybrid mobile apps using Angular and Ionic

- Optimizing web app performance

- Implementing RESTful API

- Time management with ClickUp

<br>

### EDUCATION

---

**University of Information Technology - VNUHCM**

<div class="sub-header">September 2015 - December 2020</div>


Bachelor of Computer Engineering | GPA: 7.8

<br>

### SKILLS

---

HTML; SCSS; JavaScript; MaterialUI; Node.js; REST APIs; TypeScript; RxJs; Angular; Ionic

TOEIC 670

</Markdown>
