---
import { Markdown } from 'astro/components';
---

<Markdown>
  # **Tien Dat Huynh**
  ### FRONT-END DEVELOPER ANGULAR

  Front-end/UI developer with 2 years of hands-on experience efficiently coding applications using modern HTML, CSS, and TypeScript, Angular. Translate designs to front-end code. Experience in developing mobile applications using Android Studio, Angular and Ionic (Cordova/Capacitor) framework.

  ### WORK EXPERIENCE
  ---

  **Leanwell Technology - chuyendoisosanxuat.com**  <p class="pull-right">09/2019 - Present</p>

  <p class="sub-header">Front-end Developer | Angular</p>

  **Responsibilities:**
  - Building user interface, data visualizations and designed overall user experience.
  - Involved in designing and developing web application using HTML5, CSS3, Angular.
  - Developed mobile applications for Android and IOS platform using Ionic framework, Typescript, SCSS and HTML.
  - Created reusable templates and style sheets based on Material Design guidelines.
  - Responsible in code optimizing and test across browsers.
  - Implementing RESTful API services for creating, retrieving, updating, and deleting data usually in JSON or XML format.
  - Implemented RxJs to deal with asynchronous tasks.
  - Fixed bugs and customer support.


  ### TECHNICAL SKILLS
  ---

  - **Web Technologies:** HTML, CSS, SCSS, JSON.
  - **JS Frameworks:** Angular, Ionic, NodeJS.
  - **Programming Languages:** JavaScript, TypeScript.
  - **Version Control System:** Git.
  - **Operating Systems:**  Windows, Linux.
  - **Languages:** English - TOEIC 670.

  ### EDUCATION
  ---

  **University of Information Technology - VNUHCM**  <p class="pull-right">09/2015 - 12/2020</p>

  <p class="sub-header">Major: Computer Engineering</p>

  <br><br>

  |                                     |                                                      |                          |
  | ----------------------------------- | ---------------------------------------------------- | ------------------------ |
  | [+84 344 747 434](tel:+84344747434) | [tiendat77@github.com](https://github.com/tiendat77) | huynhztienzdat@gmail.com |
</Markdown>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  li:not(:last-child) {
    margin-bottom: 0.25em;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    text-align: left;
  }

  .pull-right {
    margin: 0;
    float: right;
  }

  .sub-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  @media only screen and (max-width: 600px) {
    .pull-right {
      display: block;
      float: none;
    }

    td {
      display: block;
    }
  }
</style>