---
import { Markdown } from 'astro/components';
---

<Markdown>

Seeking the Web Developer position where 2 years experience with Angular will be utilized. Passionate to learn new technologies and JavaScript frameworks

<br>

### WORK EXPERIENCE

---

**Leanwell Technology  - [chuyendoisosanxuat.com](https://chuyendoisosanxuat.com)**

 <div class="sub-header">September 2019 - Present</div>

#### Front-end Developer

- Develop new features and maintain existing web application using Angular and Material UI

- Design, code, test hybrid mobile apps with Ionic, Cordova and Capacitor

- Optimize application for better performance

- Build reusable components

- Produce clean, efficient and scalable code

- Documenting technical manuals, user guides

#### Project: Leanwell MOM/MES

Description: Manufacturing operations management software, providing functionality for production tracking and scheduling, product lifecycle management, human resource management, catering and food service management.

Responsibilities:

- Interact with clients to understand the requirements, design and develop various features

- Maintain, refactor and enhance application to provide the best end-user experience

- Collaborate with back-end developers, optimizing queries to improve speed

- Fix existing bugs to improve performance and user experience

- Migrate project from Angular 5 to Angular 9

#### Project: Leanwell Mobile Apps

Description: Hybrid apps running on industrial tablet and mobile phones. Providing functionality for employees to check in/out, view their working time, ordering individual catering meals. Ensure product quality by tracking raw materials and works-in-progress throughout the production line

</Markdown>
