---
import { Markdown } from 'astro/components';
---

<Markdown>
# **Tien Dat Huynh**

### FRONT-END DEVELOPER

Seeking the Web Developer position where 2+ years experience with Angular will be utilized. Willing to learn new JavaScript frameworks and work with other developers.

<br>

### WORK EXPERIENCE

---

**Leanwell Technology  - [chuyendoisosanxuat.com](https://chuyendoisosanxuat.com)**

<div class="sub-header">September 2019 - Present</div>


Front-end Developer | Angular

- Involved in designing and developing web application using Angular, Material UI.

- Developed hybrid mobile apps using Angular and Ionic.

- Optimizing web app performance.

- Implementing RESTful API.

- Time management with ClickUp.

<br>

### EDUCATION

---

**University of Information Technology - VNUHCM**

<div class="sub-header">September 2015 - December 2020</div>


Bachelor of Computer Engineering | GPA: 7.8

<br>

### SKILLS

---

HTML; SCSS; JavaScript; MaterialUI; TypeScript; Node.js; REST APIs; Angular; Ionic; RxJs

TOEIC 670

<br><br>

|     |     |     |
| --- | --- | --- |
| [+84 344 747 434](tel:+84344747434) | [tiendat77@github.com](https://github.com/tiendat77) | huynhztienzdat@gmail.com |
</Markdown>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  li:not(:last-child) {
    margin-bottom: 0.25em;
  }

  hr {
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    border-style: solid;
    border-color: #63b0e4;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }

  td:last-child {
    text-align: right;
  }

  .sub-header {
    margin-bottom: 1em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
  }

  @media only screen and (max-width: 600px) {
    td {
      display: block;
      text-align: left !important;
    }
  }
</style>