---
import { Markdown } from 'astro/components';
---

<Markdown>

Responsibilities:

- Create, develop hybrid applications using Ionic

- Collaborate with team members to find technical solution, design and implement new features

- Work with back-end team to communicate with RESTful web services

- Maintain and enhance to provide better user experience

### EDUCATION

---

**University of Information Technology - VNUHCM**

<div class="sub-header">September 2015 - December 2020</div>


Bachelor of Computer Engineering | GPA: 7.8

<br>

### SKILLS

---

HTML; CSS; SASS; JavaScript; Node.js; REST APIs; TypeScript; RxJs; MaterialUI; Angular; Ionic; GIT; Linux

TOEIC 670

</Markdown>
