---
import { formatDate } from '@/utils/date.helper';

interface Props {
  from: string;
  to: string;
}

const { from, to } = Astro.props;

const fromFormatted = formatDate(from);
const toFormatted = formatDate(to);
---

<div class="group relative grid print:!grid-cols-1 sm:grid-cols-12">
  <!-- Time Info -->
  <header class="relative mt-1 text-xs font-semibold sm:col-span-3">
    <time datetime={from}>{fromFormatted}</time>
    <span>-</span>
    <time datetime={to}>{toFormatted}</time>
  </header>

  <div class="relative flex flex-col pb-6 sm:col-span-9">
    <div class="-ml-6 w-px print:hidden absolute bg-slate-300 dark:bg-slate-500 h-full mt-2">
      <!-- The Time line -->
    </div>

    <div class="absolute w-2 h-2 bg-slate-300 dark:bg-slate-500 rounded-full mt-2 -translate-x-[1.71rem] print:hidden">
      <!-- The Circle -->
    </div>

    <!-- Content -->
    <slot />
  </div>
</div>
