<div class="flex">
  <div>
    <span class="w-3 h-3 bg-cyan-600 dark:bg-cyan-500 block rounded-full mt-1"></span>
    <span class="bg-cyan-600 dark:bg-cyan-500 block h-full w-px translate-x-1.5"></span>
  </div>

  <div class="pl-5">
    <slot />
  </div>
</div>