<div>
  <h2>Education</h2>

  <ul class="list-none m-0 p-0">
    <li class="p-0">
      <a class="text-xl font-semibold" href="https://en.uit.edu.vn/">
        University of Information Technology
      </a>
    </li>
    <li class="p-0">
      September 2015 - December 2020
    </li>
    <li class="p-0">
      Bachelor of Computer Engineering
    </li>
    <li class="p-0">GPA: 7.8/10</li>
  </ul>
</div>