---
import Section from "@/components/Section.astro";
---

<Section title="Education">
  <ul class="flex flex-col gap-4">
    <li>
      <!-- <svg class="icon-size-6 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path fill="currentColor" d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9l0 28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5l0-24.6c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z" />
      </svg> -->

      <div class="flex flex-col md:flex-row md:justify-between">
        <h4>
          <a
            target="_blank"
            href="https://en.uit.edu.vn/"
          >
            <svg class="icon-size-5 mr-1" version="1.1" viewBox="0 0 868.83 702.07" xmlns="http://www.w3.org/2000/svg">
              <path fill="#4b63b7" d="m728.7-0.0019531c-12.013 2.0133-23.719 7.2126-32.133 16.199-5.3067 5.3333-8.8532 12.053-11.84 18.893-38.307-0.026667-76.454 5.4684-113.72 14.148-85.093 20.187-165.87 56.052-240.91 100.54-78.027 46.787-150.49 103.55-211.67 171.05-31.359 34.867-59.799 72.653-81.986 114.07-14.653 27.667-26.588 57.052-32.602 87.879-6.2667 30.893-5.5185 64.027 6.9883 93.32 10.36 24.573 29.559 44.828 52.506 58.135 30.093 17.627 65.081 25.052 99.574 27.199 55.2 3.213 110.39-6.2008 163.44-20.895 73.587-20.76 143.81-52.559 209.51-91.492-0.12-0.5464-0.3862-1.653-0.51953-2.2129 29.573-13.213 56.134-32.588 79.094-55.348 36.173-35.627 63.08-80.52 77.627-129.16 16.52-54.64 17.186-113.95 1.8926-168.95-12.973-47.147-37.467-91.067-70.854-126.8-9.9066-10.987-21.186-20.6-32.293-30.307 30.413-6.0933 61.027-12.227 92.094-13.613 3.2533 15.413 13.373 29.307 27.52 36.4 18.973 10.013 44.066 6.9737 59.68-7.9062 3.88-3.5467 6.9204-7.88 9.707-12.307 20.973 9.52 39.947 24.332 52.547 43.785 14.067 22.12 19.906 48.735 19.572 74.748 0.34666 24.427-5.2927 48.585-13.666 71.412-11.933 32.213-29.347 62-47.174 91.227-7.56 12.6-16.639 24.215-24.025 36.908 33.187-39.04 62.107-82.242 81.854-129.68 9.8267-24.04 16.986-49.332 19.293-75.252 1.8267-22.32-0.25366-45.255-8.3203-66.281-7.6133-20.227-20.987-38.146-37.947-51.506-10.653-8.5733-22.68-15.227-35.133-20.787 0.25333-16.893-7.9865-33.732-21.84-43.492-7.36-5.4267-16.201-8.3203-25.107-9.9336h-11.16zm-322.21 9.5488c-67.443-1.5985-135.25 20.199-189.17 60.811-50.4 37.453-88.519 91.013-107.57 150.84 22.507-21.053 45.827-41.213 70.08-60.199 78.213-60.96 164.6-111.73 256.8-148.39-0.32-0.24-0.97297-0.69359-1.293-0.93359-9.5783-1.1967-19.205-1.9025-28.84-2.1309zm53.668 5.8496c-48.707 18.333-95.909 40.534-141.23 66.094-77.8 44.08-150.47 97.601-214.28 160.33-3.5204 6.0267-3.9052 13.613-4.9453 20.467 6.5729-5.9733 12.52-12.574 18.986-18.654 33.573-32.573 69.773-62.399 107.68-89.812 75.267-54.12 157.52-98.814 244.69-130.55 2.48-1.2933 6.1338-1.0936 7.7871-3.627-6.3066-1.0667-12.493-2.7472-18.693-4.2539zm38.479 10.891c-1.6862-0.10979-3.3855 0.15057-5.1055 1.0039-52.333 17.627-102.93 40.252-151.37 66.732-90.52 49.8-174.48 112.35-245.36 187.71-0.98693 5.96-0.98706 11.987-1.4668 18 14.146-15.787 29.026-30.906 44.373-45.52 64.747-61.227 138.08-113.21 216.59-155.27 48.547-25.853 99.159-48.027 151.64-64.613 1.9333-0.92 5.0947-0.5988 5.748-3.1055-5.04-0.95-9.9823-4.6081-15.041-4.9375zm79.027 54.029c39.533 30.107 71.479 70.188 91.359 115.76 22.013 49.867 29.588 105.88 21.975 159.83-6.5867 47.28-25 92.947-53.32 131.4-19.24 0.01333-38.534-0.3878-57.721 0.18554-39.32 40.587-92.533 68.054-148.83 74.4 2.6933-2.8933 6.0392-5.0397 9.1992-7.373 42.133-31.147 84.281-62.281 126.41-93.428 3.44-2.6667 7.1867-4.9583 10.387-7.9316-30.56-0.21333-61.12-0.01412-91.68-0.10742-28.507 37.253-56.88 74.613-85.307 111.92-28.733-37.04-56.948-74.52-85.348-111.83-30.6-0.1333-61.226-0.09367-91.826-0.01367 14.467 11.493 29.693 22.053 44.453 33.199 29.36 21.68 58.706 43.373 88.053 65.08 4.6 3.5067 9.5071 6.6546 13.787 10.588-56.52-6.4533-110.04-33.867-149.4-74.787-23.693 0.2-47.426-0.27977-71.119 0.24023 42.267 62.347 108.77 107.49 182.15 124.32 50.813 11.933 104.67 10.425 154.73-4.2812 6.8933-1.4532 13.335-4.5199 20.229-5.9199-45.133 19.52-93.56 29.747-141.71 38.693-33 5.7865-66.308 10.947-99.881 11.08-32.147 0.5068-64.426-5.2396-94.279-17.227-24.293-9.8401-47.134-25.212-61.961-47.186-13.266-19.64-20.146-43.32-20.586-66.934-1.1864-39.293 13.92-76.96 33.066-110.55 23.626-40.68 53.426-77.454 85.426-111.79 69.813-74.573 156.69-131.85 250-172.71 39.587-17.453 80.348-32.134 121.73-44.641zm-242.93 153.35c-32.76 30.893-55.694 71.786-65.641 115.67 9.0933 0.85333 18.082 2.4677 27.068 4.041 23.32-36.8 53.972-68.64 88.932-94.52-16.107-9.68-32.933-18.134-50.359-25.188zm130.55 0.1875c-17.547 6.7067-34.334 15.399-50.414 25.105 35.28 25.613 65.561 57.867 89.201 94.467 8.8266-1.6933 17.706-3.2403 26.666-4.0137-9.4933-43.88-32.626-84.919-65.453-115.56zm-65.188 34.76c-34.16 23.613-64.013 53.693-86.666 88.533 29.987 6.6267 59.014 17.2 86.734 30.373 27.467-13.333 56.48-23.68 86.293-30.307-0.41333-0.77333-1.2546-2.3064-1.668-3.0664-22.613-33.44-51.573-62.493-84.693-85.533zm179.9 93.713c-2.5635 0.00917-5.1261 0.0995-7.6894 0.32617-7.3467 0.24-14.694 0.58608-22.027 1.0527 3.36 24.2 3.2001 48.815-0.22656 72.988 14.96-0.15997 29.919 0.09257 44.879-0.10743 3.64-2.8933 5.4534-7.6126 7.7734-11.586 9.8667-19.16 9.815-42.68 0.375-62.014-7.7 0.02-15.393-0.68766-23.084-0.66016zm-363.22 0.10937c-6.5917-0.01335-13.182 0.19368-19.762 0.76368-11.84 23.253-8.3863 52.721 7.3203 73.348 15.307 0.24 30.602 0.01217 45.908 0.10547-3.9867-24.107-3.5882-48.786-0.52148-72.986-10.967-0.575-21.959-1.2082-32.945-1.2305zm49.266 3.0176c-2.24 16.813-3.2123 33.892-1.6523 50.799 1.1467-2.1333 2.1326-4.3333 2.9726-6.6133 5.48-14.267 12.586-27.826 19.666-41.359-6.9733-1.0667-13.946-2.2928-20.986-2.8262zm268 0.16016c-7.12 0.46667-14.32 1.1734-21.213 3.0801 8.6 14.4 15.466 29.772 21.652 45.346 0.36 0.57334 1.0814 1.7076 1.4414 2.2676 1.0667-16.92 0.38581-33.907-1.8809-50.693zm-229.84 5.959c-11.973 20.627-22.053 42.414-29.213 65.16 14.68-0.12 29.359-0.05404 44.053-0.02735 1.6667 0.24 3.1601-0.5056 4.3867-1.5723 15.587-12.293 32.106-23.373 49.293-33.293 2.7867-1.68 5.9999-2.854 8.2266-5.334-24.787-10.56-50.453-19.04-76.746-24.934zm191.8 0.08008c-26.48 5.7066-52.24 14.387-77.146 25 4.3333 3.2667 9.3733 5.4264 13.92 8.373 16.08 9.4933 31.345 20.28 46.092 31.707 15.373-0.13337 30.761-0.08064 46.135-0.02735-7.0267-22.747-17.32-44.346-29-65.053z"/>
            </svg>

            <span>University of Information Technology</span>
          </a>
        </h4>

        <p class="text-sm text-neutral">September 2015 - December 2020</p>
      </div>

      <ul class="grid gap-2 pl-4 text-sm list-disc xl:grid-cols-3">
        <li class="order-1 xl:order-1 xl:col-span-2">Bachelor of Computer Engineering</li>
        <li class="order-2 xl:order-3 xl:col-span-2">Major: Embedded & IoT Computing Systems</li>
        <li class="order-3 xl:order-2">GPA 7.8 / 10</li>
        <li class="order-4 xl:order-4">TOEIC 670</li>
      </ul>
    </li>
  </ul>
</Section>
