<div>
  <h2>Education</h2>

  <h3 class="!mt-0">
    <a class="!font-medium" href="https://en.uit.edu.vn/">
      University of Information Technology
    </a>
  </h3>

  <p>September 2015 - December 2020</p>
  <p>Bachelor of Computer Engineering</p>
  <p>GPA 7.8/10</p>
  <p>TOEIC 670</p>
</div>