---
import Timeline from '@/components/Timeline.astro';
---

<div>
  <h2>Experience</h2>

  <Timeline>
    <h4 class="!mt-0">
      May 2022 - Presents | Front-end Developer
    </h4>

    <h3 class="!mt-0">
      <a href="https://www.blogicsystems.com/">
        BLogic Systems
      </a>
    </h3>

    <article>
      <h4>Project: BLogic Wait & Order</h4>
      <p></p>
    </article>

    <br/>

    <article>
      <h4>Project: <a href="https://blogicview.com/">BLogicView.com</a></h4>
      <p>BLogicView is a report platform that helps businesses to track their performance, and make data-driven decisions. It provides a comprehensive range of features, including data visualization, report generation, and data analysis.</p>
      <p>Team size: 4</p>
      <p>Teach stack: Angular 15 + Nx, NodeJS Express, .Net Framework + SignalR, SQL Server</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>Setup and maintain the project structure, and ensure the codebase is clean and well-organized.</li>
        <li>Develop various reports and data visualization features, including charts (ChartJS), graphs (PlantUML) and tables. Export data to Excel (excel.js), PDF (puppeteer)</li>
        <li>
          Develop many features to help users configure and customize their local POS system from the web app, including: menu management, notification management, coupon management, tip sharing policy and more.
        </li>
      </ul>
    </article>

    <br/>

    <article>
      <h4>Project: BLogic Licenses Management</h4>
      <p>License management system for BLogic-ers. It helps to manage product licenses, and track the usage of each license.</p>
      <p>Team size: 4</p>
      <p>Teach stack: Angular 15, .Net Core, SQL Server</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>Migrate the project from angular 7, and refactor to ensure the codebase is clean and well-organized.</li>
        <li>Maintain and develop new features to help BLogic-ers manage licenses, including: license activation, deactivation, merchant configuration and renewal.</li>
      </ul>
    </article>

    <br/>

    <article>
      <h4>Project: <a href="https://sensabooking.com/">SensaBooking.com</a></h4>
      <p>Sensa Booking is a booking platform for nail and beauty salons. It allows customers to book appointments online, and salons to manage their business.</p>
      <p>Team size: 5</p>
      <p>Tech stack: Angular 13, .NET Core, SQL Server, Docker</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>As a key developer, I play an instrumental role in the research, design, and implementation of various features from scratch.</li>
        <li>Work closely with the team to ensure smooth and efficient workflows, and collaborate on JIRA to track progress and address issues.</li>
        <li>Set up and manage automation deployments using Jenkins, Docker, ensuring seamless and efficient delivery of software updates.</li>
        <li>Build and maintain a comprehensive Wiki page, providing easy-to-understand instructions and troubleshooting tips to ensure a smooth and satisfying user experience.</li>
        <li>The Sensa Booking Platform including:</li>
        <ul>
          <li>Customer booking app - Sensa Booking</li>
          <li>Salon management app - Sensa Calendar</li>
          <li>Check In at Salon app - Sensa Check-in</li>
          <li>Admin panel - Sensa Admin</li>
          <li>Payment gateway integration</li>
          <li>Reporting system</li>
        </ul>
      </ul>
    </article>
  </Timeline>


  <Timeline>
    <h4 class="!mt-0">
      September 2019 - March 2022 | Front-end Developer
    </h4>

    <h3 class="!mt-0">
      <a href="https://chuyendoisosanxuat.com/">
        Leanwell Technology
      </a>
    </h3>

    <article>
      <h4>Project: Leanwell MOM/MES</h4>
      <p>Manufacturing operations management software offers a comprehensive range of features, including production tracking and scheduling, human resource, and catering and food service management. It enables manufacturers to streamline their operations, increase efficiency, and improve overall productivity.</p>
      <p>Team size: 5</p>
      <p>Tech stack: Angular, NodeJS, MongoDB, Docker</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>Developing new features and maintaining existing features.</li>
        <li>Collaborate closely with clients to gather their requirements and design custom features that meet their needs.</li>
        <li>Collaborate with back-end developers to optimize queries for improved speed.</li>
        <li>Writing technical documentation for developers, and user guides for clients, providing user-friendly instructions to ensure ease of use for end-users.</li>
      </ul>
    </article>

    <article>
      <h4>Project: Leanwell Mobile Apps</h4>
      <p>Hybrid apps for industrial tablets and mobile phones. These apps enabled employees to check in/out, view their working time, order catering meals, and track product quality by monitoring raw materials and works-in-progress throughout the production line.</p>
      <p>Team size: 5</p>
      <p>Tech stack: Angular + Ionic, NodeJS, MongoDB, Docker</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>Gather and documented project requirements through meetings with clients and team.</li>
        <li>Collaborate with team to find technical solution, and implement various features.</li>
        <li>Maintain and optimize to ensure seamless user experience.</li>
      </ul>
    </article>
  </Timeline>

</div>
