---
import Timeline from '@components/Timeline.astro';
---

<div>
  <h2>Experience</h2>

  <Timeline>
    <h4 class="!mt-0">
      May 2022 - Presents | Front-end Developer
    </h4>

    <h3 class="!mt-0">
      <a href="https://www.blogicsystems.com/">
        BLogic Systems
      </a>
    </h3>

    <article>
      <h4>Project: <a href="https://sensabooking.com/">SensaBooking.com</a></h4>
      <p>Sensa Booking is a booking platform for nail and beauty salons. It allows customers to book appointments online, and salons to manage their business.</p>
      <p>Team size: 3</p>
      <p>Tech stack: Angular, .NET Core, SQL Server, Docker</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>As a key developer, I play an instrumental role in the research, design, and implementation of various features.</li>
        <li>Work closely with the team to ensure smooth and efficient workflows, and collaborate on JIRA to track progress and address issues.</li>
        <li>Set up and manage automation deployments using Docker, ensuring seamless and efficient delivery of software updates.</li>
        <li>Build and maintain a comprehensive Wiki page, providing easy-to-understand instructions and troubleshooting tips to ensure a smooth and satisfying user experience.</li>
      </ul>
    </article>
    <br>
  </Timeline>


  <Timeline>
    <h4 class="!mt-0">
      September 2019 - March 2022 | Front-end Developer
    </h4>

    <h3 class="!mt-0">
      <a href="https://chuyendoisosanxuat.com/">
        Leanwell Technology
      </a>
    </h3>

    <article>
      <h4>Project: Leanwell MOM/MES</h4>
      <p>Manufacturing operations management software offers a comprehensive range of features, including production tracking and scheduling, human resource, and catering and food service management. It enables manufacturers to streamline their operations, increase efficiency, and improve overall productivity.</p>
      <p>Team size: 5</p>
      <p>Tech stack: Angular, NodeJS, MongoDB, Docker</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>Developing new features and maintaining existing features.</li>
        <li>Collaborate closely with clients to gather their requirements and design custom features that meet their needs.</li>
        <li>Collaborate with back-end developers to optimize queries for improved speed.</li>
        <li>Writing technical documentation for developers, and user guides for clients, providing user-friendly instructions to ensure ease of use for end-users.</li>
      </ul>
    </article>

    <article>
      <h4>Project: Leanwell Mobile Apps</h4>
      <p>Hybrid apps for industrial tablets and mobile phones. These apps enabled employees to check in/out, view their working time, order catering meals, and track product quality by monitoring raw materials and works-in-progress throughout the production line.</p>
      <p>Team size: 5</p>
      <p>Tech stack: Angular + Ionic, NodeJS, MongoDB, Docker</p>
      <p>Responsibilities:</p>
      <ul class="!m-0">
        <li>Gather and documented project requirements through meetings with clients and team.</li>
        <li>Collaborate with team to find technical solution, and implement various features.</li>
        <li>Maintain and optimize to ensure seamless user experience.</li>
      </ul>
    </article>
  </Timeline>

</div>