---
import Section from "@/components/Section.astro";
import Timeline from "@/components/Timeline.astro";

import AngularIcon from "@/icons/angular.astro";
import NxIcon from "@/icons/nx.astro";
import AstroIcon from "@/icons/astro.astro";
import DotNetIcon from "@/icons/dotnet.astro";
import SigalrIcon from "@/icons/signalr.astro";
import NodeJsIcon from "@/icons/node.astro";
import SqlIcon from "@/icons/sql.astro";
import MongoIcon from "@/icons/mongo.astro";
import UbuntuIcon from "@/icons/ubuntu.astro";
import BashIcon from "@/icons/bash.astro";
import JenkinsIcon from "@/icons/jenkins.astro";
import DockerIcon from "@/icons/docker.astro";
import GithubIcon from "@/icons/github.astro";
import GitlabIcon from "@/icons/gitlab.astro";
import AppleIcon from "@/icons/apple.astro";
import TailwindIcon from "@/icons/tailwind.astro";
import TypescriptIcon from "@/icons/typescript.astro";
import HtmlIcon from "@/icons/html.astro";
import CssIcon from "@/icons/css.astro";
import CapacitorIcon from "@/icons/capacitor.astro";
import XcodeIcon from "@/icons/xcode.astro";
import AndroidIcon from "@/icons/android.astro";
import JiraIcon from "@/icons/jira.astro";
import ClickUpIcon from "@/icons/clickup.astro";
import CIcon from "@/icons/c.astro";
---

<Section title="Experience">
  <ul class="flex flex-col">

    <!-- BLogic Systems -->
    <li class="relative print:py-2 break-before-auto">
      <Timeline from="2022-05-02" to="">
        <h3>
          <span>Front-end Developer</span>

          <span>@</span>

          <a
            target="_blank"
            href="https://www.blogicsystems.com/"
            class="group/link text-primary"
          >
            BLogic Systems

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              class="ml-1 transition-transform translate-y-px icon-size-4 shrink-0 group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none"
            >
              <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </h3>

        <div class="mt-2 text-xs text-neutral">
          Restaurant management system - Thu Duc, Ho Chi Minh City
        </div>

        <div class="flex flex-col gap-4 mt-6 text-sm">
          <div class="flex flex-col gap-2">
            <ul class="flex flex-col gap-2 pl-4 list-disc">
              <li>
                As a key member of the web development team, I contributed to
                multiple projects, developing and maintaining web applications
                using Angular (versions 12 to 18), Nx, and Tailwind CSS.
              </li>
              <li>
                Setup and maintain the project structure, and ensure the codebase is clean
                and well-organized.
              </li>
              <li>
                Participated in code reviews and contributed to improving coding
                standards within the team.
              </li>
              <li>
                Research and propose standards, tools, and practices to achieve
                well-engineered software products.
              </li>
              <li>
                Setup and maintain the deployment pipeline from scratch using Jenkins and Docker.
              </li>
            </ul>
          </div>

          <div class="flex flex-col gap-2">
            <h4>Tech stack:</h4>

            <ul class="flex flex-wrap gap-2">
              <li class="badge badge-primary print:!bg-transparent">
                <AngularIcon />
                <span>Angular</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <NxIcon />
                <span>Nx</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <TypescriptIcon />
                <span>Typescript</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <TailwindIcon />
                <span>Tailwind</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <AstroIcon />
                <span>Astro</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <CapacitorIcon />
                <span>Capacitor</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <AndroidIcon />
                <span>Android</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <XcodeIcon />
                <span>Xcode</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <DotNetIcon />
                <span>Net Core</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <SigalrIcon />
                <span>SignalR</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <SqlIcon />
                <span>Sql Server</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <DockerIcon />
                <span>Docker</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <JenkinsIcon />
                <span>Jenkins</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <UbuntuIcon />
                <span>Ubuntu</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <BashIcon />
                <span>Bash</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <AppleIcon />
                <span>macOs</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <GithubIcon />
                <span>Github</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <JiraIcon />
                <span>Jira</span>
              </li>
            </ul>
          </div>
        </div>
      </Timeline>
    </li>

    <!-- Leanwell Tech -->
    <li class="relative print:py-2 break-before-page">
      <Timeline from="2019-09-03" to="2022-03-30">
        <h3>
          <span>Front-end Developer</span>

          <span>@</span>

          <a
            target="_blank"
            href="https://leanwell.co/"
            class="group/link text-primary"
          >
            Leanwell Technology

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              class="ml-1 transition-transform translate-y-px icon-size-4 shrink-0 group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none"
            >
              <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </h3>

        <div class="mt-2 text-xs text-neutral">
          Manufacturing operations management - District 7, Ho Chi Minh City
        </div>

        <div class="flex flex-col gap-4 mt-6 text-sm">
          <div class="flex flex-col gap-2">
            <ul class="flex flex-col gap-2 pl-4 list-disc">
              <li>
                Worked with a team of 6 to develop and maintain the Leanwell MOM/MES system.
              </li>
              <li>
                Learned the Angular 6 framework. Migrating applications from Angular 6 to 9.
              </li>
              <li>
                Integrate the web app with IoT devices.
              </li>
              <li>
                Collaborate closely with clients to gather their requirements
                and design custom features that meet their needs.
              </li>
              <li>
                Writing technical documentation for developers, and user guides
                for clients, providing user-friendly instructions to ensure
                ease of use for end-users.
              </li>
            </ul>
          </div>

          <div class="flex flex-col gap-2">
            <h4>Tech stack:</h4>

            <ul class="flex flex-wrap gap-2">
              <li class="badge badge-primary print:!bg-transparent">
                <AngularIcon />
                <span>Angular</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <HtmlIcon />
                <span>Html</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <CssIcon />
                <span>Css</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <TypescriptIcon />
                <span>Typescript</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <NodeJsIcon />
                <span>NodeJs</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <MongoIcon />
                <span>MongoDb</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <UbuntuIcon />
                <span>Ubuntu</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <GitlabIcon />
                <span>GitLab</span>
              </li>

              <li class="badge badge-primary print:!bg-transparent">
                <ClickUpIcon />
                <span>ClickUp</span>
              </li>
            </ul>
          </div>
        </div>
      </Timeline>
    </li>

    <!-- Fpt Software -->
    <li class="relative print:py-2 break-before-auto">
      <Timeline from="2019-07-01" to="2019-09-06">
        <h3>
          <span>Intern Embedded / IoT</span>

          <span>@</span>

          <a class="group/link text-primary">
            FPT Software
          </a>
        </h3>

        <div class="mt-2 text-xs text-neutral">
          District 9, Ho Chi Minh City
        </div>

        <div class="flex flex-col gap-4 mt-6 text-sm">
          <div class="flex flex-col gap-2">
            <ul class="flex flex-col gap-2 pl-4 list-disc">
              <li>
                Trained in embedded programming / IoT.
              </li>
              <li>
                Research and develop embedded software for microcontrollers, microprocessors.
              </li>
            </ul>
          </div>

          <div class="flex flex-col gap-2">
            <ul class="flex flex-wrap gap-2">
              <li class="badge badge-primary print:!bg-transparent">
                <CIcon />
              </li>
            </ul>
          </div>
        </div>
      </Timeline>
    </li>

  </ul>
</Section>
