---
import Section from "@/components/Section.astro";

import Blogicsystems from "./experiences/Blogicsystems.astro";
import LeanwellTech from "./experiences/Leanwell-Tech.astro";
import FptSoftware from "./experiences/Fpt-Software.astro";
---

<Section title="Career Journey">
  <ul class="flex flex-col">
    <li class="relative print:py-2 break-before-auto">
      <Blogicsystems />
    </li>

    <li class="relative print:py-2 break-before-page">
      <LeanwellTech />
    </li>

    <li class="relative print:py-2 break-before-auto">
      <FptSoftware />
    </li>
  </ul>
</Section>
