---
import Section from '@/components/Section.astro';

import MediaSystem from './favourite-open-source/MediaSystem.astro';
import DriveSystem from './favourite-open-source/DriveSystem.astro';
import PasswordManager from './favourite-open-source/PasswordManager.astro';
import AdBlockingService from './favourite-open-source/AdBlockingService.astro';
---

<Section title="Favourite Open Source">
  <p class="text-neutral">
    My favourite open-source that runs on my home lab
  </p>

  <div class="grid xl:grid-cols-2 gap-8 md:gap-4">
    <div>
      <div class="grid gap-8 md:gap-4">
        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <MediaSystem />
          </div>
        </div>

        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <AdBlockingService />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="grid gap-8 md:gap-4">
        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <DriveSystem />
          </div>
        </div>

        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <PasswordManager />
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
