---
import Section from "@/components/Section.astro";
---

<Section>
  <div class="flex flex-col gap-8">
    <figure class="flex justify-center my-0 not-prose flex-0">
      <div class="relative w-28 h-28 sm:w-36 sm:h-36">
        <div class="absolute z-0 w-full h-full rounded-full -top-8 -left-14 bg-opacity-30 bg-primary-200 dark:bg-slate-700 print:!-top-4 print:!-left-12"></div>

        <img
          class="relative z-10 object-fill w-full h-full rounded-full"
          src="/avatar_2025.jpg"
          alt=""
        />
      </div>
    </figure>

    <div class="space-y-4">
      <h1>
        TIEN DAT HUYNH
      </h1>

      <h3 class="text-neutral">
        Front-end Developer
      </h3>

      <p class="flex items-center text-neutral">
        <svg
          class="mr-1 icon-size-5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="currentColor"
            d="M12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5M12,2A7,7 0 0,1 19,9C19,14.25 12,22 12,22C12,22 5,14.25 5,9A7,7 0 0,1 12,2M12,4A5,5 0 0,0 7,9C7,10 7,12 12,18.71C17,12 17,10 17,9A5,5 0 0,0 12,4Z"
          />
        </svg>

        <a class="text-current">
          Thu Duc, Ho Chi Minh City, Vietnam
        </a>
      </p>
    </div>
  </div>
</Section>
