---
import Section from '@/components/Section.astro';

import PersonalMuabalo from './projects/Per-Muabalo.astro';
import PersonalTaproStock from './projects/Per-TaproStock.astro';
import PersonalGomoku from './projects/Per-Gomoku.astro';
import PersonalLoveAlarm from './projects/Per-LoveAlarm.astro';
import PersonalLasotuvi from './projects/Per-Lasotuvi.astro';
import PersonalPatchHub from './projects/Per-PatchHub.astro';
import PerDssSalePlatform from './projects/Per-DssSalePlatform.astro';
---

<Section title="Personal Projects">
  <div class="grid xl:grid-cols-2 gap-8 md:gap-4">
    <div>
      <div class="grid gap-8 md:gap-4">
        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <PerDssSalePlatform />
          </div>
        </div>
        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <PersonalPatchHub />
          </div>
        </div>

        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <PersonalMuabalo />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="grid gap-8 md:gap-4">
        <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
          <PersonalTaproStock />
        </div>

        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <PersonalGomoku />
          </div>
        </div>

        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <PersonalLoveAlarm />
          </div>
        </div>

        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <PersonalLasotuvi />
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
