---
import Section from '@/components/Section.astro';

import PersonnalMuabalo from './projects/Per-Muabalo.astro';
import PersonnalTaproStock from './projects/Per-TaproStock.astro';
import PersonnalGomoku from './projects/Per-Gomoku.astro';
import PersonnalLoveAlarm from './projects/Per-LoveAlarm.astro';
import PersonnalLasotuvi from './projects/Per-Lasotuvi.astro';
---

<Section title="Projects">
  <div class="grid xl:grid-cols-2 gap-8 md:gap-4">
    <div class="grid gap-8 md:gap-4">
      <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
        <PersonnalMuabalo />
      </div>

      <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
        <PersonnalTaproStock />
      </div>
    </div>

    <div class="grid gap-8 md:gap-4">
      <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
        <PersonnalGomoku />
      </div>

      <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
        <PersonnalLoveAlarm />
      </div>

      <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
        <PersonnalLasotuvi />
      </div>
    </div>
  </div>
</Section>
