<div>
  <h2>Personal Projects</h2>

  <div>
    <h4>
      <a href="https://gomokudo.vercel.app/">
        Gomoku
      </a>
    </h4>

    <p>Gomoku, also known as “Five in a Row” is a classic strategy game that is known in many countries around the world.</p>
    <p>Built using Angular 12 and Ionic 5.</p>
  </div>

  <div>
    <h4>
      <a href="https://lovealarm.vercel.app/">
        Love Alarm
      </a>
    </h4>

    <p>Love Alarm is the mobile app based on the Original webtoon & K-drama "Love Alarm".</p>
    <p>Your alarm “rings” every time someone within a 10-meter radius “likes” you. Likewise, you could tell your crush by ringing her/his alarm.</p>
    <p>The frontend app was built using Angular, Ionic, and CapacitorJS. The Bluetooth native plugin was built using Java. The backend API was developed using Node.js and Supabase. Push notifications with Firebase.</p>
  </div>

  <div>
    <h4>
      <a href="https://lasotuvi.vercel.app/">
        La So Tu Vi
      </a>
    </h4>

    <p>La So Tu Vi is a web application that helps astrologers create a horoscope chart, which can be used to interpret a person's destiny. Nowadays, many people also use Tu Vi to choose the birth date and time for their children.</p>
    <p>The analysis of the horoscope chart helps individuals understand a person's future and fortunes for the coming years. The horoscope chart serves as a reference that can help individuals avoid pitfalls and reinforce positive aspects of their lives, thereby leading to a smooth and fortunate life.</p>
    <p>Built using Angular 12, Ionic 5 and Supabase.</p>
  </div>
</div>