---
import Section from '@/components/Section.astro';

import PersonnalGomoku from './projects/Per-Gomoku.astro';
import PersonnalLoveAlarm from './projects/Per-Love-Alarm.astro';
import PersonnalLasotuvi from './projects/per-lasotuvi.astro';
---

<Section title="Projects">
  <ul class="flex flex-col gap-2 md:gap-4">
    <li class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
      <PersonnalGomoku />
    </li>

    <li class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
      <PersonnalLoveAlarm />
    </li>

    <li class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
      <PersonnalLasotuvi />
    </li>
  </ul>
</Section>
