<div>
  <h2>Personal Projects</h2>

  <a href="https://gomokudo.vercel.app/">
    Gomoku
  </a>

  <p>Gomoku, also known as “Five in a Row” is a classic strategy game that is known in many countries around the world.</p>

  <a href="https://lovealarm.vercel.app/">
    Love Alarm
  </a>

  <p>Love Alarm is the mobile app based on the Original webtoon & K-drama "Love Alarm".</p>

  <p>Your alarm “rings” every time someone within a 10-meter radius “likes” you. Likewise, you could tell your crush by ringing her/his alarm.</p>

</div>