<div>
  <h2>References</h2>

  <ul class="list-none m-0 p-0">
    <li class="p-0 font-semibold">
      Phan Dinh Thien Phuc
    </li>
    <li class="p-0">
      Team Leader | BLogic Systems
    </li>
    <li class="p-0">
      076-669-9027
    </li>
  </ul>

  <ul class="list-none m-0 p-0">
    <li class="p-0 font-semibold">
      Pham Hoang Tuan
    </li>
    <li class="p-0">
      Manager | BLogic Systems
    </li>
    <li class="p-0">
      097-779-06770
    </li>
  </ul>
</div>