<div>
  <h2>References</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 print:grid-cols-2 gap-4">
    <div>
      <p class="font-medium">Dinh Thien Phuc Phan</p>
      <p>Team Leader | BLogic Systems</p>
      <p>
        <a href="tel:0766699027">076-669-9027</a>
      </p>
    </div>

    <div>
      <p class="font-medium">Hoang Tuan Pham</p>
      <p>Manager | BLogic Systems</p>
      <p>
        <a href="tel:09777906770">097-779-06770</a>
      </p>
    </div>
  </div>
</div>