<div>
  <h2>Skills</h2>

  <ul class="grid grid-flow-row grid-cols-2 m-0">
    <li class="p-0">HTML</li>
    <li class="p-0">CSS/SCSS</li>
    <li class="p-0">Angular</li>
    <li class="p-0">MaterialUI</li>
    <li class="p-0">TypeScript</li>
    <li class="p-0">Node.js</li>
    <li class="p-0">Taildwind</li>
    <li class="p-0">UI Design</li>
    <li class="p-0">Astro</li>
    <li class="p-0">Docker</li>
    <li class="p-0">REST</li>
    <li class="p-0">Git</li>
    <li class="p-0">Linux</li>
    <li class="p-0">Figma</li>
    <li class="p-0">Inkscape</li>
    <li class="p-0">English <small>(TOEIC 670)</small></li>
  </ul>
</div>