<div>
  <h2>Skills</h2>

  <ul class="grid grid-cols-2 sm:grid-cols-3 print:grid-cols-3">
    <li>HTML</li>
    <li>CSS/SCSS</li>
    <li>Tailwind</li>
    <li>Angular</li>
    <li>MaterialUI</li>
    <li>UI Design</li>
    <li>Astro</li>
    <li>TypeScript</li>
    <li>Node.js</li>
    <li>Docker</li>
    <li>REST</li>
    <li>Git</li>
    <li>Linux</li>
    <li>Figma</li>
    <li>Inkscape</li>
    <li>English</li>
  </ul>
</div>