---
import Avatar from '@components/Avatar.astro';
---

<div class="not-prose flex flex-col sm:flex-row gap-4 sm:gap-12 mb-6 sm:mb-12">
  <div class="flex-0 flex justify-center">
    <Avatar />
  </div>
  <div class="flex-auto sm:border-b text-center sm:text-left">
    <h1 class="text-4xl sm:text-5xl font-extrabold tracking-widest mb-2 sm:mb-4">
      TIEN DAT HUYNH
    </h1>
    <h2 class="text-xl sm:text-2xl font-bold">
      FRONT-END DEVELOPER
    </h2>
  </div>
</div>
