---
import Section from '@/components/Section.astro';

import BlsBlogicView from './projects/Bls-BlogicView.astro';
---

<Section title="Work Projects">
  <div class="grid xl:grid-cols-2 gap-8 md:gap-4">
    <div>
      <div class="grid gap-8 md:gap-4">
        <div>
          <div class="space-y-2 rounded-md sm:p-2 md:p-4 md:border">
            <BlsBlogicView />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="grid gap-8 md:gap-4">
      </div>
    </div>
  </div>
</Section>
